.content__title
  新規メニューの作成

= form_with model: @menu, url: category_menus_path, method: :post, class: :form, local: true do |f|
  = f.text_field :title, placeholder: :メニュー名, class: :form__title
  = f.text_area :detail, placeholder: :詳細, class: :form__text
  = f.submit '投稿する', class: :form__btn